<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Postagens</title>
</head>

<body>
    <h1>Postagens</h1>
    <% if (posts.length> 0) { %>
        <ul>
            <% posts.forEach(post=> { %>
                <li>
                    <a href="/post/<%= post.id %>">
                        <%= post.title %>
                    </a>
                </li>
                <% }); %>
        </ul>
        <% } else { %>
            <p>Nenhuma postagem encontrada.</p>
            <% } %>

                <a href="/post/new">Criar Nova Postagem</a>
</body>

</html>